<a href="https://colab.research.google.com/github/hirushit/Python-Programming/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = int(input('Enter first number: '))  
num2 = int(input('Enter second number: '))  
  
sum = num1 + num2  

sub = num1 - num2  

mul = num1 * num2  

div = num1 / num2  

print('Sum = ',sum)  

print('Subration = ',sub) 

print('Multiplication = ',mul)  
 
print('Division = ',div)

Enter first number: 12
Enter second number: 6
Sum =  18
Subration =  6
Multiplication =  72
Division =  2.0

In [ ]:
x = int(input('Enter value of x: '))
y = int(input('Enter value of y: '))

temp = x
x = y
y = temp

print('The value of x after swapping: ', x)
print('The value of y after swapping: ', y)

Enter value of x: 5
Enter value of y: 4
The value of x after swapping:  4
The value of y after swapping:  5

In [1]:
P = float(input("Enter the principal amount : "))

N = float(input("Enter the number of years : "))

R = float(input("Enter the rate of interest : "))

SI = (P * N * R)/100


print("Simple interest : ", SI)

Enter the principal amount : 5000
Enter the number of years : 5
Enter the rate of interest : 10
Simple interest :  2500.0

In [3]:
name = input('Enter Name : ')
age = int(input('Enter age : '))
address = input('Enter Address : ')
salary = int(input('Enter salarey : '))
mobile = int(input('Enter mobile number : '))

print('Name : ', name)
print('Age : ', age)
print('Salary : ', salary)
print('Mobile number : ', mobile)

Enter Name : HIru
Enter age : 17
Enter Address : Namakkal
Enter salarey : 10000
Enter mobile number : 89898989
Name :  HIru
Age :  17
Salary :  10000
Mobile number :  89898989

In [4]:
text = input('Entera sentence : ')
print(text[::-1])

Entera sentence : hello world
dlrow olleh